html, body{
  margin: 0;
  padding: 0;
}


canvas {
  margin: 100px;
  display: block;
}



#form-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 50px;
  background-color: #fff;
  border-radius: 5px;
  border-color: #4CAF50;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-top: 0;
  font-size: 28px;
  font-weight: 400;
}

form {
  display: block;
  margin-bottom: 30px;
}

label {
  display: block;
  font-size: 22px;
  margin-bottom: -30px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  padding: 10px;
  border-color: #4CAF50;
  font-size: 16px;
  margin-bottom: 25px;
  border: 1px solid #4CAF50;
  border-radius: 5px;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
  width: 65%;
  height: 45px;
  padding: 10px 0;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Courier New', Courier, monospace;
  color: #1b431d;
}


#toggle-form-btn {
  display: block;
  margin-top: 20px;
  font-size: 16px;
  color: #333;
  text-decoration: underline;
  border: none;
  background-color: transparent;
  cursor: pointer;
}



h1 {
  text-align: center;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  color: #3e8e41;
  font-size: 60px;
  letter-spacing: -3px;
}

h3{
  text-align: center;
  margin-top: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  color: #3e8e41;
  font-size: xxx-large;
  letter-spacing: -3px;
}

h4{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  color: #3e8e41;
}


h5{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  color: #3e8e41;
}

h6{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  color: #2d692f;
  font-size: xx-large;
}


::-webkit-input-placeholder {
  /* Change the font family and size */
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}

:-moz-placeholder {
  /* Change the font family and size */
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}

::-moz-placeholder {
  /* Change the font family and size */
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}

:-ms-input-placeholder {
  /* Change the font family and size */
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}

#toggle-form-btn {
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}

#login-form {
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}

#register-form {
  font-family: 'Courier New', Courier, monospace;
  color: #3e8e41;

}



